.input-group {
  display: inline-flex;
  align-items: flex-start;
  font-size: 1rem;
  margin-bottom: 10px;
}

.input-group input {
  padding: 0.25em;
  width: 3em;
}

.exponent-input {
  font-size: 0.8em;
  margin-left: 2px;
  position: relative;
  top: -0.8em;
  width: 3em;
}
