#pattern {
  background-color: black;
}

#pattern td {
  color: white;
  background-color: gray;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: "Inconsolata";
}
